@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Firste Update on Website</h1>
=======
    <h1 class="display-4">Original Website</h1>
>>>>>>> ab6a278f805944de69247f579b9ee02ccec92abf
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
